.header-fix {
    height: 130px;
}
.header {
    width: 100%;
    display: inline-block;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.header .header-top {
    padding: 0!important;
    line-height: 50px!important;
}
.header .header-top {
    background: #135EAC;
    width: 100%;
    height: 50px;
    padding-top: 8px;
    color: #fff;
    line-height: 34px;
    font-weight: 400;
    font-size: 14px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
    width: 100%;
}
.head-right .box-login-acc .span-pd, .header .header-top .left-head, .link-chat-bds-content b {
    color: #fff;
}

.header .header-top .left-head {
    float: left;
    font-weight: 700;
}
.header .header-top .left-head a {
    font-weight: 400;
    margin-left: 25px;
}
.header .header-top a {
    color: #fff;
}
a {
    text-decoration: none;
}
.header .header-top .head-right {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-search-head {
    width: 300px;
    float: left;
    margin-right: 30px;
    height: 34px;
    background: #024E9C;
    box-shadow: inset 0 0 8px rgb(0 58 119 / 80%);
    border-radius: 4px;
    position: relative;
}
.box-search-head .input-text {
    padding-right: 35px;
}
.box-search-head .input-text {
    padding: 0 10px;
}
.box-search-head .input-text {
    width: 100%;
    height: 34px;
    display: inline-block;
    border: 0;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    padding: 7px 35px 7px 10px;
    line-height: 20px;
    text-align: left;
}
.input-text {
    border: 1px solid #E1E1E1;
    background: #fff;
    border-radius: 4px;
    height: 40px;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #222;
    text-align: left;
    padding: 10px;
}
.box-search-head .fa-magnifying-glass {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
}
.box-search-head .sub-search {
    position: absolute;
    left: 0;
    top: 42px;
    background: #FFF;
    box-shadow: 0 1px 0 #e1e1e1, 0 2px 12px rgb(0 0 0 / 25%);
    border-radius: 0 0 4px 4px;
    width: 300px;
    z-index: 12;
    margin: 0;
    padding: 0;
}
.box-search-head .sub-search {
    display: block;
}
.header .header-top a {
    color: #fff;
}
a {
    text-decoration: none;
}
.header-footer-container .box-show-noti {
    position: absolute;
    right: -50px;
    width: 430px;
    top: 38px;
    z-index: 9999;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);
}
.hide {
    display: none!important;
}
.head-right .box-login-acc {
    float: left;
    margin-left: 30px;
}
.container:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix:after, .container:after, .pu-content .myForm2:after, .pu-otp .digit-g:after, .pu-top-content:after {
    clear: both;
}
.header .navi.navi-fix {
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
}
.menu-v2.navi {
    position: relative;
}
.header.fixed .navi, .subpage .navi {
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
}
.navi {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    height: 80px;
}
.header .navi .logo {
     background: url(https://img1.oto.com.vn/Static/Images/v3/logo-oto.svg) center top no-repeat;
     background-size: contain;
     margin-top: 12px;
 }
.navi .logo {
    float: left;
    width: 160px;
    height: 60px;
}
.navi .logo .slogan {
    margin: 0;
    color: #646464;
    font-weight: 400;
    font-size: 11px;
    text-align: right;
    padding-top: 46px;
    letter-spacing: -.02em;
}
.navi .menu-top {
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    align-items: center;
}
.navi .menu-top .active {
    font-weight: 700!important;
    color: #135EAC!important;
}
.menu-v2 .menu-top li {
    position: inherit;
}
.menu-v2 .menu-top>li {
    padding: 0 15px;
}
.navi .menu-top li {
    list-style: none;
    float: left;
    position: relative;
    padding: 20px 10px;
    line-height: 40px;
}
.navi .menu-top li a {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #222;
    display: block;
}
.navi .menu-top .activemenu>a, .navi .menu-top .activemenu>a h2 {
    font-weight: 700!important;
    color: #135EAC!important;
}
.navi .menu-top li h2, .navi .menu-top li h3 {
    font-size: 15px;
    margin: 0;
}
.menu-v2 .menu-top .box-submenu {
    width: 100%;
    padding: 0;
    z-index: 2;
    box-shadow: 10px 15px 25px rgb(0 0 0 / 25%);
    top: 100%;
    height: auto;
}
.navi .menu-top .box-submenu {
    width: 240px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 80px;
    background: #FFF;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);
    display: none;
    padding: 15px 0;
    height: 0;
}
.menu-v2 .box-submenu .box-left {
    width: 178px;
    margin-right: 40px;
    float: left;
    position: relative;
    display: inline-block;
}
.menu-v2 .box-submenu .box-left .sub-menu {
    max-height: 360px;
    overflow-y: scroll;
    padding-right: 15px;
}
.navi .menu-top .box-submenu .sub-menu {
    width: 100%;
}
.navi .sub-menu {
    width: auto;
    margin: 0;
    padding: 0;
    float: left;
}
.menu-v2 .menu-top .sub-menu li {
    line-height: 36px;
}
.menu-v2 .menu-top li {
    position: inherit;
}
.navi .sub-menu li {
    width: 100%;
    float: left;
    padding: 0;
}
.navi .menu-top li {
    list-style: none;
    float: left;
    position: relative;
    padding: 20px 10px;
    line-height: 40px;
}
.menu-v2 .menu-top .sub-menu li a {
    padding: 10px;
    color: #222;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.menu-v2 .box-submenu .box-left li a, .menu-v2 .box-submenu .box-right li a, .menu-v2 .box-submenu .title {
    border-bottom: 1px solid #ECECEC;
}
.menu-v2 .box-submenu .box-right {
    width: calc(100% - 218px);
    float: left;
}
.menu-v2 .box-submenu .box-right .sub-menu-mode {
    max-height: 360px;
    overflow-y: scroll;
}
.menu-v2 .box-submenu .box-right .row {
    width: 100%;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col {
    width: 20%;
}
.col, .col-12, .col-2, .col-3, .col-4, .col-6, .col-8 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.navi .menu-top .box-submenu .sub-menu {
    width: 100%;
}
.navi .sub-menu {
    width: auto;
    margin: 0;
    padding: 0;
    float: left;
}
.menu-v2 .menu-top .sub-menu li {
    line-height: 36px;
}
.menu-v2 .menu-top li {
    position: inherit;
}
.navi .sub-menu li {
    width: 100%;
    float: left;
    padding: 0;
}
.menu-v2 .container::after {
    content: '';
    display: table;
    clear: both;
}